:root {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  height: 100vh;
  width: 100vw;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.code-output {
  font-family: 'Courier New', monospace;
  white-space: pre-wrap;
  word-break: break-all;
}

